<button class="btn btn-secondary dropdown-toggle nav-link dropdown-toggle"
        type="button"
        id="profileDropdownToggle"
        data-toggle="dropdown"
        aria-haspopup
        aria-expanded
>
  Username
</button>
<div class="dropdown-menu" area-labelledby="profileDropdownToggle">
  <h6 class="dropdown-header">Header</h6>
</div>